body {
  display: flex;
  justify-content: center;
  align-content: center;
  margin-top: 30px;
  background-color: #e6ffff;
}

.container {
  justify-content: center;
  align-content: center;
  width: 400px;
  height: 600px;
  background-color: #272626;
  border-radius: 10px;
}

.display {
  display: flex;
  background-color: #676565;
  width: 360px;
  height: 100px;
  margin: 20px 20px 10px 20px;
  border-radius: 10px;
  box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.5) inset;
  align-items: flex-end;
  justify-content: flex-end;
  font-size: 62px;
  letter-spacing: 1px;
  font-family: 'Space Grotesk', sans-serif;
}

.container .buttons {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 0.5rem;
  padding: 20px;
  height: 420px;
}

button {
  border-radius: 100%;
  text-decoration: none;
  outline: none;
  border: solid 0 transparent;
  background-color: #676565;
  font-size: 28px;
  color: white;
  box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.5);
  transition: all 0.15s ease-in-out;
}

button:hover {
  transform: translateY(-2px);
}

.digit:hover {
  background-color: #a7a5a5;
}

.ac:hover {
  background-color: #ff6666;
}

.operator:hover,
.plus-minus:hover,
.percent:hover {
  background-color: #ffa366;
}

.buttons .equals {
  grid-column: 3 / 5;
  border-radius: 50px;
}

.equals:hover {
  background-color: #85e085;
}
