body {
  display: flex;
  justify-content: center;
  align-content: center;
  margin-top: 30px;
}

.container {
  justify-content: center;
  align-content: center;
  width: 400px;
  height: 600px;
  background-color: black;
  border-radius: 10px;
}

.display {
  display: inline-block;
  background-color: gray;
  width: 360px;
  height: 100px;
  margin: 20px 20px 10px 20px;
  border-radius: 10px;
}

.container .buttons {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 0.5rem;
  padding: 20px;
  height: 420px;
}

button {
  border-radius: 100%;
  text-decoration: none;
  outline: none;
  border: solid 0 transparent;
  background-color: gray;
  font-size: 25px;
}

.buttons .equals {
  grid-column: 3 / 5;
  border-radius: 50px;
}
